/* These styles are brought to you courtesy of Adam McFadyen @ www.dabzo.com */
#ttab-container{
	float:left;
	position:relative;
	clear:both;
	
	width:100%;
	margin:1em auto;

	padding-bottom:56px;
	font-size:1em;
	background:#e8e8e8;
	box-shadow: inset 0 0 1px #515151; 
}
.ttab-title{
	float:left;
	position:relative;
	clear:none;
	display:block;
	
	width:auto;
	line-height:24px;
	height:24px;
	padding:0 2%;
	margin:0;
	
	background:#55c;
	color:#fff;
	overflow:hidden;

	font-size: 16px;
	font-weight: normal;
	font-family: 'Arial', 'Helvetica', Sans-serif, sans;
	text-align: center;
	text-transform:uppercase;
}   
.ttab-title:hover{
	background:#e8e8e8;
	color:#003169;	
} 
.ttab-content{
	position:absolute;
	top:24px;
	display:none;	
	
	width:96%;	
	padding: 16px 2%;
	
	background:#f8f8f8;
	background-image: linear-gradient(top, #efefef, #fcfcfc);
	color:#222;	
	font-size:16px;
	text-shadow: 0 0 2px #fcfcfc;
	box-shadow: inset 0 0 1px #ccf;
}
.ttab-widget .current-item{
	background:#003169;
	background-image: linear-gradient(top, #013d79, #002559);
	color:#fff;
}
.ttab-visible{
	display:block;
} 

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	#ttab-container{
		padding-bottom:72px;
	}
	.ttab-title{
		line-height:32px;
		height:32px;
		font-size: 20px;
	}   
	.ttab-content{
		top:32px;
		padding: 20px 2%;
	}
}